<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Server</title>
</head>
<body>
    <h3 th:if="${error  != null}" th:text="${error}" style="color:red;">{error}</h3>
    <h3 th:if="${folder != null}" th:text="'Folder: '+${folder.getKey()}">{folder}</h3>
    <table th:if="${files != null && folder != null}">
        <thead>
            <tr>
                <th>File</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="file : ${files}">
                <td><a href="" th:href="${folder.getKey() +'/'+ file}" th:text="${file}">{file}</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>