<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Server</title>
</head>
<body>
    <h3>Folders</h3>
    <table>
        <thead>
            <tr>
                <th>Label </th>
                <th>Path  </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="folder : ${folders}">
                <td><a href="" th:href="${folder.getKey()}" th:text="${folder.getKey()}">[Label ]</a></td>
                <td th:text="${folder.getPath()}">[Path  ]</td>
            </tr>
        </tbody>
    </table>
</body>
</html>